@import url(http://fonts.googleapis.com/css?family=Quicksand);

body {
  background-image: url("../image/wood_03.jpg");
  width: 100%;
  text-align: center;
  margin: 0px;
  line-height: 1.7em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.main {
  background-image: url("../image/wood_02.jpg");
}

section {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

legend {
  text-align: left;
}

fieldset {
  margin: 0px auto;
  border-radius: 10px;
}

form {
  text-align: left;
}

input#password, input#email, input#url {
  height: 32px;
  margin-bottom: 5px;
}

input.submit {
  display: block;
}

button{
  margin-top: 10px;
  margin-bottom: 5px;
}

button:hover {
  cursor: pointer;
}

button img {
  float: left;
  margin: 3px;
}
button p {
  width: 148px;
  font-size: 32px;
  display: inline;
  float: right;
  margin-top: 21px;
  margin-bottom: 21px;
}

.form_types {
  width: 100%;
  overflow: auto;
  margin: 0px auto;
}

.form_types fieldset {
  width: 400px;
  float: left;
  margin: 10px 9px;
}